<%unless User.find(session[:user_id]).usertype == 'student'%>
<h2 class='User_Header'>Course Actions<h2>
</h6>
<ul>
<li><%= link_to 'Create Course', "/createcourse" %></li>
<li><%= link_to 'Add User to Class', "/addstudenttocourse" %></li>
</ul>
<%end%>

<h2 class='User_Header'><%=@current_user.name%>'s Courses <h2>
</h6>

<table border="1">
<tr>
<th>ID</th>
<th>Number</th>
<th>Name</th>
<th>Year</th>
<th>Semester</th>
<th>Section</th>
<th>Assignments</th>
<% @current_user.courses.each do |course| %>
<tr>
<td><%=course.id%></td>
<td><%=course.coursenumber%></td>
<td><%=course.name%></td>
<td><%=course.year%></td>
<td><%=course.semester.capitalize%></td>
<td><%=course.section%></td>
<td><%= link_to 'Assignments', course %></td>
</tr>

<% end %>
</table>
