<% @page_title = "UserAuth | Login" -%>
<div style="float:left;" class= "Sign_Form">
	<h2>Log in</h2>
	<%= form_tag(:action => 'login_attempt') do %>
		<p>User ID:</br> <%= text_field_tag(:username_or_email) %></p> 
		<p>Password:</br> <%= password_field_tag :login_password %></p> 
		<%= submit_tag("Log In") %>
		<div style="float:right;">
			&nbsp;
			<%= link_to :Signup , :signup, class: "nav_links"%>
		</div>
	<% end %>
	<br/>
</div>
