<div class= "Assignment_Form">
	<h2>Add Assignment</h2>
	<%= form_for(:assignment, :url => {:controller => 'assignments', :action => 'create', :course => @course}) do |f| %>

		<p> Due Date:</br> <%= f.datetime_select :duedate%> </p>
		<p> Name:</br> <%= f.text_field :name%> </p>
		<p> Total Points:</br> <%= f.text_field :totalpoints%> </p>
		<%= f.submit :Submit %>
	<% end %>
</div>
