<h2 class='User_Header'><%=@assignment.name%> <h2>
<h6/>
<p><h4/> Due Date: <%= @assignment.duedate%> </p>
<p><h4/> Total Points: <%= @assignment.totalpoints%> </p>

<%unless User.find(session[:user_id]).usertype == 'student'%>
<%if DateTime.now > @assignment.duedate %>

<table border="1">
<tr>
<th>Student Name</th>
<th>Submission ID</th>
<th>Points Received</th>
<th>Has Been Graded</th>
<th>Link</th>
	<%@allcoursestudents=CoursesUsers.find_all_by_course_id(@assignment.course_id)%>
	<%@allcoursestudents.each do |courseuser| %>
		 <tr>
		<%@usersubmission=UsersAssignmentsSubmissions.find_by_user_id_and_assignment_id(courseuser.user_id, @assignment.id)%>
		<%unless @usersubmission.nil?%>
		<%@actualsubmission=Submission.find(@usersubmission.submission_id)%>
			<td><%= User.find(courseuser.course_id).name %></td>
			<td><%= @actualsubmission.id %> </td>
			<td><%= @actualsubmission.pointsreceived %></td>
			<td><%= @actualsubmission.completionstatus %></td>
			<td><%= link_to "Grade Submission", assignment_submission_path(:user_id=>courseuser.user_id, :course_id=>courseuser.course_id,:assignment_id => @assignment.id, :submission_id => @actualsubmission.id) %></td> 
		<%end%>

	<%end%>
<%else%>

<table border="1">
<tr>
<th>Question</th>
<th>Answer</th>
<th>Hint</th>
<th>Points</th>
<th>Is MC</th>
<th>MC Option A</th>
<th>MC Option B</th>
<th>MC Option C</th>
<th>MC Option D</th>
<th>MC Option E</th>


<% @assignment.questions.each do |question| %>
 	 <tr>
		<td><%= question.question %></td> 
		<td><%= question.answer %></td> 
		<td><%= question.hint %></td> 
		<td><%= question.value %></td> 
		<td><%= question.mc %></td> 
		<% if question.mc %>
			<% @questionoptions=Questionoption.find_all_by_question_id(question.id).reverse %>
			<% @questionoptions.each do |option| %>
				<td><%=option.option %></td>
			<% end %>
		<%end%>
<% end %>
</table>
	</br>
	<hr>
	<%= form_for(:assignments_questions, :url => {:controller => 'assignments_questions', :action => 'create'}) do |f| %>
		<p> Select Question to Add From Short Answer Bank:</br> <%= collection_select(:assignments_questions, :question_id, Question.find_all_by_mc(false), :id, :question) %> </p>
		<%= f.hidden_field :assignment_id, :value=>@assignment.id%>
		<%= f.submit :Submit %>
	<% end %>

	<%= form_for(:assignments_questions, :url => {:controller => 'assignments_questions', :action => 'create'}) do |f| %>
		<p> Select Question to Add From Multiple Choice Bank:</br> <%= collection_select(:assignments_questions, :question_id, Question.find_all_by_mc(true), :id, :question) %> </p>
		<%= f.hidden_field :assignment_id, :value=>@assignment.id%>
		<%= f.submit :Submit %>
	<% end %>
	
	</br>
	<hr>

	<b>Add Short Answer Question to Question Bank:</b>
	<%= form_for(:question, :url => {:controller => 'questions', :action => 'create'}) do |f| %>
		<p> Question:</br> <%= f.text_field :question%> </p>
		<p> Answer:</br> <%= f.text_field :answer%> </p>
		<p> Hint:</br> <%= f.text_field :hint%> </p>
		<!--<p> Multiple Choice?:</br>  #f.select :mc, {'Yes'=>true, 'No'=>false}%> </p>-->
		<%= f.hidden_field :mc, :value=>false%>
		<p> Points:</br> <%= f.text_field :value%> </p>
		<%= f.submit :Submit %>
	<% end %>

</br>


	<b>Add Multiple Choice Question to Question Bank:</b>
	<%= form_for(:question, :url => {:controller => 'questions', :action => 'create'}) do |f| %>
		<p> Question:</br> <%= f.text_field :question%> </p>
		<p> Answer:</br> <%= f.text_field :answer%> </p>
		<p> Hint:</br> <%= f.text_field :hint%> </p>
		<%= f.hidden_field :mc, :value=>true%>
		<p> Points:</br> <%= f.text_field :value%> </p>
		<%("A".."E").each do |i|%>
			<p> Option <%=i%>:</br> <%= f.text_field i%> </p>
		<%end%>
		<%= f.submit :Submit %>
	<% end %>
<%end%>

<%else%>
	<%if DateTime.now > @assignment.duedate %>
		<p> DUE DATE ALREADY PASSED </p>
	<%else%>

<table border="1">
<tr>
<th>Question</th>
<th>Previous Answer</th>
<th>Answer</th>
<th>Hint</th>
<th>Points</th>
<th>Is MC</th>
<th>MC Option A</th>
<th>MC Option B</th>
<th>MC Option C</th>
<th>MC Option D</th>
<th>MC Option E</th>

	
	<%@submission2=UsersAssignmentsSubmissions.where(:user_id=>session[:user_id], :assignment_id=>@assignment.id)%>
	<%if @submission2.any?%>
		<%@actualsubmission=Submission.find(@submission2.first_or_create.submission_id)%>

		<%= form_for(:studentanswer, :url => {:controller => 'studentanswers', :action => 'create'}) do |f| %>
			<%= f.hidden_field :submission_id, :value=>@submission2.first_or_create.submission_id%>

			<% @assignment.questions.each do |question| %>
				<tr>
  				
					<td><%= question.question %></td> 
					<%@sanswer=Studentanswer.where(:submission_id=>@submission2.first_or_create.submission_id, :qid=>question.id)%>
					<%if @sanswer.any?%>
				 		<td><%=@sanswer.first_or_create.answer%> </td>
					<%end%>

					
					<% if question.mc %>
						<td><%= f.text_field question.id%></td>
					<%else%>
				 		<td><%= f.text_area question.id%> </td>
					<%end%>

					<%if @sanswer.any?%>
						<%if @sanswer.hintused%>
							<td><%=question.hint%></td>
						<%else%>
							<%= form_for(:studentanswer, :url => {:controller => 'studentanswers', :action => 'create2'}) do |f2| %>
								<%= f2.hidden_field @sanswer.answer question.id%>
								<td><%= f2.submit "Show Hint" %></td>
							<%end%>
						<%end%>
					<%else%>
				 		<%= form_for(:studentanswer, :url => {:controller => 'studentanswers', :action => 'create2'}) do |f2| %>
							<td><%= f2.submit "Show Hint" %></td>
						<%end%>
					<%end%>

					<td><%= question.value %></td>
					<td><%= question.mc %></td> 
					<% if question.mc %>
						<% @questionoptions=Questionoption.find_all_by_question_id(question.id).reverse %>
						<% @questionoptions.each do |option| %>
							<td><%=option.option %></td>
						<% end %>
					<%end%>
  												
			<% end %>
			</table>
			</br>
			<%= f.submit :Submit %>
		<% end %>
	<%else%>
		<%= form_for(:submission, :url => {:controller => 'submissions', :action => 'create', :assignment => @assignment}) do |f| %>
			<%= f.hidden_field :completionstatus, :value=>false%>
			<%= f.hidden_field :pointsreceived, :value=>0%>			
			<%= f.submit 'Create New Submission' %>
		<%end%>
	<%end%>
	<%end%>
<%end%>

