<% @page_title = "UserAuth | Signup" %>
<div style="float:left;" class= "Sign_Form">
	<h2>Sign Up</h2>
	<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>

		<p> Username:</br> <%= f.text_field :username%> </p>

		<p> Name:</br> <%= f.text_field :name%> </p>

		<p> Password:</br> <%= f.password_field :password%></p>

		<p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
		
		<p> Usertype: </br> <%= f.text_field :usertype%> </p>

		<%= f.submit :Signup %>
		<div style="float:right;">
			&nbsp;
			<%= link_to :Login , :login, class: "nav_links"%>
		</div>
	<% end %>

	<% if @user.errors.any? %>
		<ul class="Signup_Errors">
			<% for message_error in @user.errors.full_messages %>
				<li>* <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div>
