<h2 class='User_Header'><%="Student "+@user.id.to_s+"'s "+@assignment.name+" Submission"%> <h2>
<h4/>

<table border="1">
<tr>
<th>Question</th>
<th>Correct Answer</th>
<th>Student Answer</th>
<th>Question Value</th>
<th>Current Points Awarded</th>
<th>New Points Awarded</th>

<%@allstudentanswers=Studentanswer.find_all_by_submission_id(@submission.id)%>
<%= form_for(:studentanswer, :url => {:controller => 'studentanswers', :action => 'update'}) do |f| %>
<%= f.hidden_field :submission_id, :value=>@submission.id%>
<%@allstudentanswers.each do |answer| %>
	<tr>
	<%@matchingquestion=Question.find_by_id(answer.qid)%>
		<td><%= @matchingquestion.question %></td>
		<td><%= @matchingquestion.answer %></td>
		<td><%= answer.answer %></td>
		<td><%= @matchingquestion.value %></td>
		<%if @matchingquestion.mc && answer.graded == false%>
			<% alphabet = ["A","B","C","D","E"]%>
			<% i = 0 %>
			<% correctmc = false %>
			<% @questionoptions=Questionoption.find_all_by_question_id(@matchingquestion.id).reverse %>
			<% @questionoptions.each do |option| %>
				<% if option.option == @matchingquestion.answer%>
					<% if alphabet[i] == answer.answer%>
						<%correctmc = true%>
					<%end%>
				<%end%>
				<%i+=1%>
			<% end %>
			<%if correctmc%>
				<%answer.pointsreceived=@matchingquestion.value%>
			<%else%>
				<%answer.pointsreceived=0%>
			<%end%>
			<%answer.graded=true%>
			<%answer.save%>
		<%end%>
		<td><%=answer.pointsreceived%></td>
		<td><%= f.text_field answer.id%> </td>
<%end%>
</table>
</br>
<%= f.submit :Submit %>
<%end%>


