<h2 class='User_Header'><%=@course.coursenumber%> <%=@course.name%>'s Assignments <h2>
<% @course.assignments.each do |assignment| %>
  <p>
	<b>Assignment:</b>
	<%if DateTime.now > assignment.duedate %>
		<%= assignment.name %> 
	<%else%>
		<%= link_to assignment.name, course_assignment_path(:id => assignment.id, :course_id => assignment.course_id) %> 

	<%end%>
	&emsp;
	<%= assignment.totalpoints %> 
	&emsp;
	<%= assignment.duedate %>
  </p>
<% end %>

<%= link_to 'Create New Assignment', new_course_assignment_path(@course) %>
