<h2 class='User_Header'><%=@course.coursenumber%> <%=@course.name%>'s Assignments <h2>
<% @course.assignments.each do |assignment| %>
  <p>
	<b>Assignment:</b>
	<%unless DateTime.now > assignment.duedate %>
		<%unless User.find(session[:user_id]).usertype == 'student'%>
			<%= link_to "Grade "+assignment.name, course_assignment_path(:id => assignment.id, :course_id => assignment.course_id) %> 
		<%else%>
			<%= assignment.name %>
		<%end%> 
	<%else%>
		<%= link_to assignment.name, course_assignment_path(:id => assignment.id, :course_id => assignment.course_id) %> 
	<%end%>
	&emsp;
	<%= assignment.totalpoints %> 
	&emsp;
	<%= assignment.duedate %>
	&emsp;
	<%unless DateTime.now > assignment.duedate %>
		<% @uasobject = UsersAssignmentsSubmissions.find_by_user_id_and_assignment_id(session[:user_id],assignment.id)%>
		<% if @uasobject.nil?%>
			0
		<% else %>
			<% @submission = Submission.find(@uasobject.submission_id) %>
			<%if @submission.completionstatus %>
				<%@studentanswers = Studentanswer.find_all_by_submission_id(@submission.id)%>
				<%allgraded = true%>
				<%@studentanswers.each do |answer|%>
					<%if answer.graded == false%>
						<%allgraded = false%>
					<%end%>
				<%end%>
				<%if allgraded %>
					<%=@submission.pointsreceived%>
				<%else%>
					<%="Not finished grading"%>
				<%end%>
			<%else%>
				<%="Grading not started"%>
			<%end%>
		<% end %>
	<%end%>
  </p>
<% end %>

<%unless User.find(session[:user_id]).usertype == 'student'%>
	<%= link_to 'Create New Assignment', new_course_assignment_path(@course) %>
<%end%>
