<%unless User.find(session[:user_id]).usertype == 'student'%>
<h2 class='User_Header'>Assignment Actions<h2>
</h6>
<ul>
<li><%= link_to 'Create New Assignment', new_course_assignment_path(@course) %></li>
</ul>
<%end%>


<h2 class='User_Header'>Course <%=@course.coursenumber%> <%=@course.name%> Assignments <h2>
</h6>

<table border="1">
<tr>
<th>Name</th>
<th>Total Points</th>
<th>Due Date</th>
<%if User.find(session[:user_id]).usertype == 'student'%>
<th>Grade</th>
<%end%>

<% @course.assignments.each do |assignment| %>
	<tr>

	<%if DateTime.now > assignment.duedate %>
		<%unless User.find(session[:user_id]).usertype == 'student'%>
			<td><%= link_to "Grade "+assignment.name, course_assignment_path(:id => assignment.id, :course_id => assignment.course_id) %></td> 
		<%else%>
			<td><%= assignment.name %></td>
		<%end%> 
	<%else%>
		<td><%= link_to assignment.name, course_assignment_path(:id => assignment.id, :course_id => assignment.course_id) %></td>
	<%end%>
	<td><%= assignment.totalpoints %></td>
	<td><%= assignment.duedate %></td>

	<%if User.find(session[:user_id]).usertype == 'student'%>
	<%if DateTime.now > assignment.duedate %>
		<% @uasobject = UsersAssignmentsSubmissions.find_by_user_id_and_assignment_id(session[:user_id],assignment.id)%>
		<% if @uasobject.nil?%>
			<td>0</td>
		<% else %>
			<% @submission = Submission.find(@uasobject.submission_id) %>
			<%if @submission.completionstatus %>
				<%@studentanswers = Studentanswer.find_all_by_submission_id(@submission.id)%>
				<%allgraded = true%>
				<%@studentanswers.each do |answer|%>
					<%if answer.graded == false%>
						<%allgraded = false%>
					<%end%>
				<%end%>
				<%if allgraded %>
					<td><%=@submission.pointsreceived%></td>
				<%else%>
					<td><%="Not finished grading"%></td>
				<%end%>
			<%else%>
				<td><%="Grading not started"%></td>
			<%end%>
		<% end %>
	<%else%>
		<td>-</td>
	<%end%>
	<%end%>
<% end %>
</table>
