<!DOCTYPE html>
<html>
<head>
  <title>RubySource User Auth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="Main_Header">
		<h1>MOOC Web Project</h1>
		<%if session[:user_id]%>
			<ul class="nav">
				<li><%= link_to :Home , :home, class: "nav_links" %></li>
				<li><%= link_to :Profile , :profile, class: "nav_links" %></li>
				<%unless User.find(session[:user_id]).usertype.downcase == "student"%>
					<li><%= link_to "Registered Users" , :setting, class: "nav_links" %></li>
					<li><%= link_to "Registered Courses" , "/registeredcourse" %></li>
				<%end%>
				<li><%= link_to :Logout , :logout, class: "nav_links" %></li>	
			</ul>
		<%end%>
	</div>
	<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%else%>
		<div class="notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%end%>
<%= yield %>

</body>
</html>
